<h1>Einstien-Rosen Bridges</h1>
<div class="col-md-2">
<ul>
<% @lines.each do |line| %>
  <li><%= link_to line.name, line_path(line), :class=> "btn btn-default btn-xs" %></li><br>
<%end%>
</ul>
</div>
<div class= "col-md-6">
  <div class="alchemy" id="alchemy"></div>
  <script type="text/javascript">

        var config = {
            dataSource: <%= @data.html_safe%>,
            graphHeight: function(){ return 600; },
            graphWidth: function(){ return 600; },
            curvedEdges: function(){return true; },
            };
        alchemy.begin(config)
    </script>
  </div>
