<h1>Star Gates</h1>
<div class="row">
<div class= "col-md-2">
  <ul>
  <% @stations.each do |station| %>
    <li><%= link_to station.name, station_path(station), class: "btn btn-default btn-xs" %></li><br>
  <%end%>
  </ul>
</div>
<div class= "col-md-6">
  <div class="alchemy" id="alchemy"></div>
  <script type="text/javascript">

        var config = {
            dataSource: <%= @data.html_safe%>,
            graphHeight: function(){ return 600; },
            graphWidth: function(){ return 600; }
            };
        alchemy.begin(config)
    </script>
  </div>
</div>
